<div class="form-group">
  <%= f.label :student_id, "Estudiante" %>
  <%= f.collection_select(:student_id, Student.all, :id, :name, {hide_label: true}, class: "form-control m-input m-input--air") %>
</div>

<div class="form-group">
  <%= f.label :user_id, "Padre" %>
  <%= f.collection_select(:user_id, User.all, :id, :name, {hide_label: true}, class: "form-control m-input m-input--air") %>
</div>
