<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @book_of_permission.student %>
</p>

<%= link_to 'Edit', edit_book_of_permission_path(@book_of_permission) %> |
<%= link_to 'Back', book_of_permissions_path %>
